<div class="container pt-4">
	<h2 class="mb-3">Index Page</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quos natus unde earum labore vero eum, quaerat id assumenda enim officia recusandae voluptas eveniet distinctio laborum temporibus quo saepe. Ullam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aliquid, blanditiis, earum quidem voluptatum, ab provident omnis error excepturi labore accusantium soluta voluptas quaerat animi fuga. Maiores magnam asperiores voluptatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore tempore minima id. Blanditiis hic minima voluptatum quisquam ullam assumenda, reiciendis velit, tenetur vero, quis odio dignissimos tempore consequatur fugiat quibusdam.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quos natus unde earum labore vero eum, quaerat id assumenda enim officia recusandae voluptas eveniet distinctio laborum temporibus quo saepe. Ullam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aliquid, blanditiis, earum quidem voluptatum, ab provident omnis error excepturi labore accusantium soluta voluptas quaerat animi fuga. Maiores magnam asperiores voluptatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore tempore minima id. Blanditiis hic minima voluptatum quisquam ullam assumenda, reiciendis velit, tenetur vero, quis odio dignissimos tempore consequatur fugiat quibusdam.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quos natus unde earum labore vero eum, quaerat id assumenda enim officia recusandae voluptas eveniet distinctio laborum temporibus quo saepe. Ullam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aliquid, blanditiis, earum quidem voluptatum, ab provident omnis error excepturi labore accusantium soluta voluptas quaerat animi fuga. Maiores magnam asperiores voluptatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore tempore minima id. Blanditiis hic minima voluptatum quisquam ullam assumenda, reiciendis velit, tenetur vero, quis odio dignissimos tempore consequatur fugiat quibusdam.
	</p>
	<%= link_to "Ir a los productos", 'products', class: 'btn btn-primary' %>
</div>